*{
    box-sizing: border-box;
}

.wrapper{
    margin: 5px;
}
.body{
}

.body_header{
    height: 60px;
    gap:10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -1%;
    display: flex;
    align-items: center;
}
.body_main{
}

.body_main_img{
    width: 1168px;
    height: 240px;
}
.body_main_content{

}
.content_tab{
    display: flex;
    flex-direction: row;
    padding: 12px 8px;
    gap:10px
}
.tab_click{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1%;
}
.tab_unclick{
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1%;
}
.content_diary{
    display: flex;
    flex-direction: row;
    gap:24px
}
.content_diary_content{
    width: 784px;
    height: 1167px;
}
.diary_thumbnail{
   
}   
.one_thumbnail{
    width: 380px;
    height: 373px;
    max-width: 380px;
    min-width: 380px;
    padding-bottom: 16px;
    background-color: white;
}
.thumbnail_img{
    width: 380px;
    height: 285px;
    border-radius: 16px;
    padding: 12px;
    gap:10px;
}
.thumbnail_sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
    height: 24px;
    padding: 0px 8px 0px 8px;
}
.thumbnail_fill{
    color:  #EA5757;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.thumbnail_date{
    color: #919191;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.thumbnail_title{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    gap:10px;
    padding-top: 10px;
    padding-left: 8px;
}
.content_diary_menu{
    background-color: white;
    width: 360px;
    height: 604px;
    border: 1px solid gray;
    border-radius: 16px;
    gap:40px;
    padding: 24px;;
    min-width: 360px;
    max-height: 760px;
}
.menu_header{
    width: 312px;
    height: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1%;
    margin-bottom: 40px;
}
.menu_main{
    width: 312px;
    height: 404px;
    gap:40px
}
.menu_main_fill{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1%;
    margin-bottom: 10px;
}
.radio_group{
    width: 312px;
    height: 68px;
    gap: 20px;
    max-width: 592px;
    flex-wrap: wrap;
}
.radio{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1%;
    font-weight: 500;
    flex-wrap: wrap;
}
.menu_main_content{
    width: 312px;
    height: 256px;
    gap: 24px;
}
.input_content{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1%;
}
.subject_text{
    width: 312px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #D4D3D3;
    padding:20px 16px 12px;
    margin-bottom: 15px;
}
.content_text{
    width: 312px;
    height: 128px;
    border-radius: 8px;
    border: 1px solid #D4D3D3;
    padding:20px 16px 12px;
}
input::placeholder{
    color: #C7C7C7;
    line-height: 1.2;
    
}

.menu_footer{
    width: 312px;
    height: 48px;
    border-radius: 8px;
    border: solid #C7C7C7;
    background-color: #C7C7C7;
    padding: 8px 10px;
    color: white;
}
.footer{
    background-color: #F2F2F2;
    width: 1920px;
    height: 160px;
    padding: 24px 20px;
    gap:10px;
}