*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:64px;
    margin: 1 20px 40px;
}

.css_header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.css_diaryUpdate{
    display: flex;
    flex-direction: column;
    gap:24px;
    width: 100%;
}

.css_fillSelect{
    display: flex;
    flex-direction: column;
    gap:16px;
    width: 100%;
}
.css_fillTitle{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #000;
}

.css_radioGroup{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #333;
}

.css_radioButton{
    display: flex;
    gap:8px;
    justify-content: center;
    align-items: center;
}

.css_diaryUpdateArea{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap:24px;
}

.css_updateInput{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.css_inputLabel{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #333;
}

#html_diaryUpdateTitleInput,
#html_diaryUpdateContentInput{
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #d4d3d3;
}

.css_updateButtonArea{
    display: flex;
    justify-content: center;
    gap:16px;
}

.css_button{
    width: 104px;
    height: 48px;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}

.css_cancelButton{
    border: 1px solid #000;
    background-color: #fff;
    color: #1c1c1c;
}

.css_updateButton{
    background-color: #000;
    color: #f2f2f2;
}

.css_updateButton:hover{
    transform: skew(-10deg, 0deg);
}